.ya-form {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    max-width: 340px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    &_shadow {
      box-shadow: 0 0 6px rgb(0 0 0 / 14%);
      border-radius: 12px;
    }
  }

  &__title {
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  &__fields {
    flex: 1 1 100%;
    width: 100%;
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 47px;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}


.ya-field {
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #999;
    user-select: none;
    order: 1;
  }

  &__input {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    // color: #3369f3;
    padding: 7px 1px;
    // border-bottom: 1px solid #3369f3;
    order: 2;

    &_error {
      color: red;
    }
  }

  input:focus + label {
    color: #3369f3;
  }

  input:focus, input:active {
    outline: none;
  }

  &__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ff2f2f;
    order: 3;
    padding-top: 7px;
  }

  &_file {
    .ya-field__label {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #3369f3;
      text-align: center;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
}


.ya-btn {
	width: 100%;
	font-weight: 500;
	font-size: 11px;
	line-height: 11px;
	color: #3369f3;
	text-align: center;
	cursor: pointer;
	user-select: none;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.7;
	}

	&_main {
		background: #3369f3;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		line-height: 13px;
		padding: 12px 0;
		border-radius: 8px;
	}

	&_red {
		background: red;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		line-height: 13px;
		padding: 12px 0;
		border-radius: 8px;
	}
}

.ya-btn-img {
	img {
		vertical-align: middle;
	}
}